
.jokeOfTheDayButtons {
  margin-top: 5px;
}

/*button*/

.md-raised {
  width: 100%;
}

/*top-10-jokes*/

.jokeContainer {
  background-color: #F1E5C6;
  margin-top: 45px;
}

/*top-10-jokes sliding option*/

.joke-text {
  padding: 5px;
  width: 80%;
  height: 128px;
  float: left;
  border-bottom: 1px solid #ccc;
}

.joke-options {
  background-color: #38a4dc;
  padding: 20px;
  width: 100%;
  height: 128px;
  float: left;
  border-bottom: 1px solid #ccc;

  position:absolute;
  top: 0;
  left: 0px;
  opacity: 0;
}

.jokeContainerMenu {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 160px;
  z-index: 1;
  background: red;
}

body {
	background: #F1E5C6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*If we want this color only to be on an area on the screen*/
.favoritesDashboard {
	background: #F1E5C6;
}

.jokeBox {
  margin: 10px;
}

.gridster {
	margin: 0 auto;
	position: relative;
}

ul {
	list-style: none;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }


.dialogdemoBasicUsage .dialogDemo1 {
  height: 500px; }
.dialogdemoBasicUsage .full {
  width: 100%;
  height: 100%; }
.dialogdemoBasicUsage .gap {
  width: 50px; }
.dialogdemoBasicUsage md-dialog md-content.sticky-container {
  padding: 0; }
.dialogdemoBasicUsage md-dialog md-content.sticky-container .dialog-content {
  padding: 0 24px 24px; }
.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0px; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
  padding-left: 10px; }


.jokecard {
  width:240px;
  height:240px;
  border:1px solid #aaa;
  box-shadow:2px 2px 4px rgba(50,50,50,.5);
  position:fixed;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  border-radius:3px;
  text-align:center;
  background-color:#ECF0F1;
  &:hover {
    cursor:pointer;
  }
  transition:transform 1s;
}

i {
  color:#646464;
  font-size:6em;
  &::before {
    line-height:240px;
  }
  &:hover {
    transform:scale(1.1);
  }
  transition:transform .5s;
}

