.container {
	padding-left: 0px;
	padding-right: 0px;
}

body {
	background: #004756;
}

/*If we want this color only to be on an area on the screen*/
.demo {
	background: #004756;
}

.gridster {
	margin: 0 auto;
	position: relative;
}

ul {
	list-style: none;
}