#test-div {
  position:fixed;
  top:0px; 
  z-index:5;
  width:100%;
  box-shadow: 0 4px 8px 0px #232323;
  -moz-box-shadow: 0 4px 8px 0px #232323;
  -webkit-box-shadow: 0 4px 8px 0px #232323;
}

#test-div input[type=submit] {
  color:white;
  background-color:#003366;
  
}

/* ---- isotope ---- */

.isotope {
  padding-top:46px;
  clear:both;
  margin: 0 auto;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  overflow: hidden;
  float: left;
  width: 158px;
  height: 158px;
  margin: 2px;
  background: #888;
  color: #262524;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}

.element-item.width2 { width: 320px; }
.element-item.height2 { height: 320px; }
.element-item.big { height: 320px; width:320px; }

.element-item > * {
  margin: 0;
  padding: 0;
} 

/* 

.mfp-figure - container that holds image and caption
.mfp-bg     - black overlay
.mfp-preloader - "Loading..." incdicator

*/
.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-figure {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(0.9);
}
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-image-loaded .mfp-figure {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-figure {
  transform: scale(0.9);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

/* CSS-based preloader */
.mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: 0 auto;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}




