

<div class="jokeContainer">
	<ul class="cardstack">

		<li class="jokecard">
			<label>Touch to cycle through jokes</label>
		</li>

		<li class="jokecard" ng-repeat="joke in newFilteredList">
			<span class="title2">{{joke.data.title}}</span>
			<br/><br/>
			<span class="content2">{{joke.data.selftext}}</span>
		</li>
	</ul>
	<md-button class="md-raised md-primary cardStackBtn" ng-click="addJoke($event)">Add to Favorites</md-button>

	<!-- <md-button class="md-icon-button" aria-label="Favorite" ng-click="addJoke($event)">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
             </md-button> -->
</div>
