
<section class="redditFeed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" ng-model="url" />
                <button id="fetchbtn" ng-click="fetch()">fetch</button><br>

                <pre>
                    form = {{url | json}}
                </pre>

                <label> {{redditjoke.title}} </label>
                <pre> {{redditjoke.selftext}} </pre>
                <pre> {{redditData}} </pre>
            </div>
        </div>
    </div>
</section>


  <div class="container">
  <div class="card">
    <div class="front">
    <p>joke goes here</p>


    </div>
    <div class="back">
        <p>joke goes here</p>
        
    </div>
  </div>
</div>