 <section class="redditFeed">
    <div class="card-container">
        <div class="card" ng-click="clickCard($event)">

            <div class="front md-tile-content">


                <!-- <p> This is where the joke goes..</p> -->
                <h2>{{title}}</h2>
                <p>{{selftext}}</p>
            
            </div>

            <div class="back">

             <h2>{{author}}</h2>
             <p>{{score}}</p>      
                   
            </div>
        </div>

        <div class="jokeOfTheDayButtons" layout-sm="column" layout-align="center center">

              <md-button class="md-raised md-primary" ng-click="addJoke($event)">Add to Favorites</md-button>
              <md-button  class="md-raised"ng-click="generateRandomJoke($event)">Random Joke</md-button>

        </div>

        <div class="wrap">
  <div class="btn">Hello</div>
</div>



    </div>

</section>