 <section class="redditFeed">
 <md-item ng-repeat="joke in redditJokes">
    <div class="card-container">
        <div class="card" ng-click="clickCard($event)">

            <div class="front md-tile-content">


                <!-- <p> This is where the joke goes..</p> -->
                <h2>{{joke.data.title}}</h2>
                <p>{{joke.data.selftext}}</p>
            
            </div>

            <div class="back">

             <h2>{{joke.data.author}}</h2>
             <p>{{joke.data.score}}</p>      
                   
            </div>
        </div>

        <div>

            <p> Favorite / Random </p>

        </div>

    </div>
    </md-item>
</section>