<!-- <div class="jokeContainer">
	<md-item ng-repeat="joke in newFilteredList">
		<div class="container">
			<section class="jokeList">
					<div class="row">
						<div class="col-xs-12">
							<md-content>
								<md-list>
										<md-item-content ng-click="addJoke($event)" ng-swipe-right="swipeJokeRight($event)">
											<div class="md-tile-left">
												<label class="face">{{joke.data.score}}</label>
											</div>
											<div class="md-tile-content">
												<h3>{{joke.data.title}}</h3>
												<h4>{{joke.data.selftext}}</h4>
												<p>
													Notes Here
												</p>
											</div>
										</md-item-content>

										<md-item-content ng-click="addJoke($event)" class='jokeContainerMenu'>
											<div class="md-tile-left">
												<label> menu</label>
											</div>
											<div class="md-tile-content">
											
											</div>
										</md-item-content>

										<md-divider md-inset ng-if="!$last"></md-divider>

								</md-list>
							</md-content>
						</div>
					</div>
			</section>
		</div>
	</md-item>
</div> -->

<div class="jokeContainer">
		<md-content>
			<md-list>
				<md-item class="md-3-line" ng-repeat="joke in newFilteredList">
					<div class="md-list-item-text" ng-click="addJoke($event)">
						<h3>{{joke.data.title}}</h3>
						<h4>{{joke.data.selftext}}</h4>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
</div>