<div class="jokeContainer">
		<md-content>
			<md-list>
				<md-item class="md-3-line" ng-repeat="joke in newFilteredList">
					<div class="list-styling" ng-click="addJoke($event)">
				
						<h3>{{joke.data.title}}</h3>
						<h4>{{joke.data.selftext}}</h4>
					
 						</div>
					<div class="joke-options joke{{$index+1}}">
						<p>{{joke.data.score}}
							<md-icon md-svg-src="img/star-outline.svg" class="starOutline" alt="StartOutline"></md-icon>
						</p>
					</div>
				 
				</md-list-item>
			</md-list>
		</md-content>
</div>

